
@if (!string.IsNullOrWhiteSpace(Message))
{
    <div margin-top="10px" class="alert @Type" role="alert">
        @Message
    </div>
}

@code {

    [Parameter]
    public string Type { get; set; }
    [Parameter]
    public string Message { get; set; }

    
}
